@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans&display=swap');

body {
	font-family: Fira sans;
	font-size: 16px;

	color: hsla(225, 25%, 15%, 1);

	max-width: 30em;
	width: calc(100vw - 1em);
	height: calc(100vh - 1em);

	padding: 0.5em;

	margin-left: auto;
	margin-right: auto;
}

input {
	font-family: Helvetica Neue;
	font-size: 16px;

	background-color: hsla(225, 25%, 95%, 1);

	padding: 0.25em;

	border: 1px solid hsla(225, 25%, 85%, 1);
	border-radius: 5px;
}

div.Header,
div.Main,
div.Footer {
	width: 100%;
}

div.Header div.SearchBox > div {
	display: inline-block;	
}

div.Header div.SearchBox > input[type="text"] {
	border-right-width: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;

	width: calc(100% - 3em - 0.5em - 1px);
	height: 1em;

	padding: 0.25em;
}

div.Header div.SearchBox > input[type="button"] {
	width: 3em;
	height: calc(1.5em + 2px);

	padding: 0.25em;
	
	background-color: hsla(225, 25%, 85%, 1);
	border: 1px solid hsla(225, 25%, 85%, 1);

	transform: translateY(1px);

	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

div.Header div.Autocomplete {
	display: none;
}

div.Footer, div.Main {
	margin-top: 0.5em;
}

div.Main {
	height: calc(100vh - 1.5em - 1px - 1.5em - 2px - 1.5em - 2px - 1.5em - 2px - 0.5em - 4px);
}

div.User > div.AddFunds,
div.User > div.UserSaldo,
div.User > div.RemoveFunds {
	font-size: 2em;
}

div.User {
    margin-bottom: 1em;
}

div.User > div {
	display: inline-block;	

}

div.User > div.UserName {
	display: block;
	margin-bottom: 1em;
}

div.User > div.AddFunds {
	margin-right: 0.5em;
}

div.User > div.RemoveFunds {
	margin-left: 0.5em;	
}

div.ItemMenu > div {
	display: inline-block;
}

div.ItemMenu div.LongPressHandler {
	display: inline-block;
}

div.ItemMenu div.Item:hover {
	background-color: hsla(225, 25%, 90%, 1);
	transition: 100ms;
}

div.ItemMenu div.Item:active {
	background-color: hsla(225, 25%, 85%, 1);
	transition: 100ms;
}

div.ItemMenu div.Item {
	background-color: hsla(225, 25%, 95%, 1);

    width: 5em;
    height: 5em;

	padding: 0.5em;

    margin-right: 0.5em;
    margin-bottom: 0.5em;

	border: 1px solid hsla(225, 25%, 85%, 1);
	border-radius: 5px;

    text-align: center;
    vertical-align: middle;

    display: inline-block;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.ItemMenu div.Item > span {
    display: block;
}

div.ItemMenu div.Item > span.name {
    font-weight: bold;
}


div.Footer > div.UserOptions > div {
	display: inline-block;
	width: calc(50% - 0.5em - 2px - 0.25em);
}

div.Footer div.EditItems {
	margin-bottom: 0.5em;
}

div.Footer div.RemoveUser {
	margin-right: 0.5em;
}

div.button {
	background-color: hsla(225, 25%, 95%, 1);

	padding: 0.25em;

	border: 1px solid hsla(225, 25%, 85%, 1);
	border-radius: 5px;
}

div.button:hover {
    background-color: hsla(225, 25%, 90%, 1);
    transition: 100ms;
}

div.button:active {
    background-color: hsla(225, 25%, 80%, 1);
    transition: 100ms;
}

div.curtain {
	position: absolute;

	top: 0px;
	left: 0px;

	height: 100vh;
	width: 100vw;

	background-color: hsla(225, 25%, 50%, 0.5);
}

div.contextmenu {
	position: absolute;

	/*top: calc((50vh - 2em - 1em) / 2);*/
	top: calc(100vh / 2 + 5em);
	left: 1em;

	width: calc(100vw - 2em);
	/*height: calc(50vh - 2em - 1em);*/
	
	background-color: hsla(225, 25%, 100%, 1);

	border-radius: 5px;
}

div.contextmenu > div {
	padding: 0.5em;
}

div.contextmenu > div.contextmenu_header {
	background-color: hsla(225, 25%, 90%, 1);

	font-weight: bold;
	color: hsla(225, 25%, 30%, 1);

	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

div.contextmenu > div.contextmenu_header > div {
	display: inline-block;
}

div.contextmenu > div.contextmenu_header > div.title {
	width: 100%;
}

div.contextmenu > div.contextmenu_header > div.close {
	position: fixed;
	right: 1.5em;

	display: inline-box;
}


div.contextmenu > div.contextmenu_item {
	padding-bottom: 0px;
}

div.contextmenu > div.contextmenu_item:hover {
	background-color: hsla(225, 25%, 95%, 1);
	transition: 100ms;
}

div.contextmenu > div.contextmenu_item:active {
	background-color: hsla(225, 25%, 90%, 1);
	transition: 100ms;
}

div.contextmenu > div.contextmenu_item:not(:last-child):after {
	content: ".";
	display: block;
	height: 0.5em;
	width: calc(100% - 1em);
	margin: 0px auto;
	text-indent: -9999px;
	border-bottom: 1px solid hsla(225, 25%, 90%, 1);
}

div.contextmenu > div.contextmenu_item:last-child {
	padding-bottom: 0.5em;
}

input[type=text] {   
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input {   
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.name {
	font-weight: bold;
}

div.contextmenu > div.contextmenu_wrapper {
	padding: 1em;
}

div.contextmenu input[type=button].save {
	margin-left: 0.5em;
}
